labs/lab-10/flow-temperature-restful.json.txt
[{"id":"702514ee.0b366c","type":"arduino in","z":"1584daa1.9bb7b5","name":"Thermsistor (A0)","pin":"0","state":"ANALOG","arduino":"1ec1ee16.6a7262","x":200,"y":300,"wires":[["7e420b5.9de00f4"]]},{"id":"7e420b5.9de00f4","type":"function","z":"1584daa1.9bb7b5","name":"Convert Pin A0 to Celsius","func":"code = msg.payload;\nif (code <= 289) {\n    celsius = 5 + (code - 289) / 9.82;\n  }\n  if (code > 289 && code <= 342) {\n    celsius = 10 + (code - 342) / 10.60;\n  }\n  if (code > 342 && code <= 398) {\n    celsius = 15 + (code - 398) / 11.12;\n  }\n  if (code > 398 && code <= 455) {\n    celsius = 20 + (code - 455) / 11.36;\n  }\n  if (code > 455 && code <= 512) {\n    celsius = 25 + (code - 512) / 11.32;\n  }\n  if (code > 512 && code <= 566) {\n    celsius = 30 + (code - 566) / 11.00;\n  }\n  if (code > 566 && code <= 619) {\n    celsius = 35 + (code - 619) / 10.44;\n  }\n  if (code > 619 && code <= 667) {\n    celsius = 40 + (code - 667) / 9.73;\n  }\n  if (code > 667) {\n    celsius = 45 + (code - 712) / 8.90;\n  }\nmsg.payload = celsius.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":300,"wires":[["b0a124ca.56e408"]]},{"id":"1d2cb9b0.d28d86","type":"comment","z":"1584daa1.9bb7b5","name":"Temperature RESTful API by Lucas Estienne (esti0011@algonquinlive.com)","info":"","x":410,"y":120,"wires":[]},{"id":"f542dcf6.9fd0a","type":"comment","z":"1584daa1.9bb7b5","name":"Pre-Req: Teensy is running Standard Firmata Plus","info":"","x":340,"y":180,"wires":[]},{"id":"9ab98ae6.147dd8","type":"comment","z":"1584daa1.9bb7b5","name":"Read Thermsistor, convert to C and cache temperature (C)","info":"","x":360,"y":240,"wires":[]},{"id":"54e211a8.bb759","type":"comment","z":"1584daa1.9bb7b5","name":"GET endpoint: /temperature/now","info":"","x":290,"y":380,"wires":[]},{"id":"b0a124ca.56e408","type":"function","z":"1584daa1.9bb7b5","name":"cache temperature","func":"flow.set( 'TEMPERATURE', msg.payload );\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":300,"wires":[[]]},{"id":"87e17af6.2cb9f8","type":"function","z":"1584daa1.9bb7b5","name":"Get cached temperature","func":"// Get cached temperature\nvar temperatureNow = flow.get( 'TEMPERATURE' );\nmsg.payload.temperature = temperatureNow;\nmsg.payload.timestamp = new Date().toString();\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":460,"wires":[["352613c3.f1a32c"]]},{"id":"352613c3.f1a32c","type":"template","z":"1584daa1.9bb7b5","name":"toJSON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"temperature\": {{payload.temperature}},\n\"timestamp\": \"{{payload.timestamp}}\"\n}","output":"str","x":620,"y":460,"wires":[["afd01b3d.1fa3d8"]]},{"id":"afd01b3d.1fa3d8","type":"function","z":"1584daa1.9bb7b5","name":"append timestamp","func":"msg.payload.timestamp = new Date().toString();\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":540,"wires":[["be8bb34c.77996"]]},{"id":"be8bb34c.77996","type":"function","z":"1584daa1.9bb7b5","name":"set HTTP header to JSON","func":"// If sending JSON data the content type is:\nmsg.headers={\"Content-Type\":\"application/json\"}\n\n// For HTML use the content type line below:\n//msg.headers={\"Context-Type\":\"application/html\"}\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":460,"wires":[["ce2bf438.dd6438"]]},{"id":"ce2bf438.dd6438","type":"http response","z":"1584daa1.9bb7b5","name":"HTTP Response","statusCode":"","headers":{"content-type":"application/json"},"x":1140,"y":460,"wires":[]},{"id":"64c085b2.3e9d1c","type":"http in","z":"1584daa1.9bb7b5","name":"HTTP GET /temperature/now","url":"/temperature/now","method":"get","upload":false,"swaggerDoc":"","x":180,"y":460,"wires":[["87e17af6.2cb9f8"]]},{"id":"1ec1ee16.6a7262","type":"arduino-board","z":"","device":"COM3"}]