hybrid/hybrid-2/flow-colour-wheel-dashboard.json.txt
[{"id":"e1651cbf.c10b4","type":"ui_colour_picker","z":"56b1d4e.43f562c","name":"Colour Wheel","label":"Colour Wheel","group":"682ec03b.ddee2","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":true,"showLightness":false,"square":"false","dynOutput":"false","order":0,"width":"5","height":"4","passthru":true,"topic":"","x":110,"y":240,"wires":[["deee06c9.508308","a4a1ddfb.c618b"]]},{"id":"deee06c9.508308","type":"debug","z":"56b1d4e.43f562c","name":"Colour Picker","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":320,"wires":[]},{"id":"a4a1ddfb.c618b","type":"split","z":"56b1d4e.43f562c","name":"split: r, g, b","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"colour","x":290,"y":200,"wires":[["148f1dd8.e299c2"]]},{"id":"148f1dd8.e299c2","type":"switch","z":"56b1d4e.43f562c","name":"","property":"colour","propertyType":"msg","rules":[{"t":"eq","v":"r","vt":"str"},{"t":"eq","v":"g","vt":"str"},{"t":"eq","v":"b","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":460,"y":200,"wires":[["7ef32e6d.0f27e","e340545c.5b1188"],["2ef0b25f.385afe","ca19639f.9171c"],["6b42a591.e1872c","285c3438.bcbd3c"]]},{"id":"e340545c.5b1188","type":"arduino out","z":"56b1d4e.43f562c","name":"Red (Pin 4)","pin":"4","state":"PWM","arduino":"1ec1ee16.6a7262","x":830,"y":200,"wires":[]},{"id":"ca19639f.9171c","type":"arduino out","z":"56b1d4e.43f562c","name":"Green (Pin 5)","pin":"5","state":"PWM","arduino":"1ec1ee16.6a7262","x":840,"y":340,"wires":[]},{"id":"285c3438.bcbd3c","type":"arduino out","z":"56b1d4e.43f562c","name":"Blue (Pin 6)","pin":"4","state":"PWM","arduino":"1ec1ee16.6a7262","x":830,"y":440,"wires":[]},{"id":"7ef32e6d.0f27e","type":"ui_text","z":"56b1d4e.43f562c","group":"27cf3bac.4d7184","order":1,"width":0,"height":0,"name":"Red","label":"Red: ","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":160,"wires":[]},{"id":"2ef0b25f.385afe","type":"ui_text","z":"56b1d4e.43f562c","group":"27cf3bac.4d7184","order":1,"width":0,"height":0,"name":"Green","label":"Green: ","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":300,"wires":[]},{"id":"6b42a591.e1872c","type":"ui_text","z":"56b1d4e.43f562c","group":"27cf3bac.4d7184","order":1,"width":0,"height":0,"name":"Blue","label":"Blue: ","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":400,"wires":[]},{"id":"366c54f5.24cbec","type":"comment","z":"56b1d4e.43f562c","name":"Colour Wheel Dashboard by Lucas Estienne (esti0011@algonquinlive.com)","info":"","x":300,"y":40,"wires":[]},{"id":"c8e2e459.873c28","type":"comment","z":"56b1d4e.43f562c","name":"Pre-Req: Teensy running Standard Firmata Plus","info":"","x":220,"y":80,"wires":[]},{"id":"a4c0b4df.404d78","type":"comment","z":"56b1d4e.43f562c","name":"Colour Wheel Dashboard, featuring tri-color LED (analog)","info":"","x":250,"y":160,"wires":[]},{"id":"16f3cec.f69b331","type":"comment","z":"56b1d4e.43f562c","name":"PWM pins for R, G, B","info":"","x":860,"y":120,"wires":[]},{"id":"a45f8567.2ae978","type":"comment","z":"56b1d4e.43f562c","name":"// Debug","info":"","x":280,"y":280,"wires":[]},{"id":"682ec03b.ddee2","type":"ui_group","z":"","name":"Colour Wheel","tab":"b84bac59.741c4","disp":true,"width":"6","collapse":false},{"id":"1ec1ee16.6a7262","type":"arduino-board","z":"","device":"COM3"},{"id":"27cf3bac.4d7184","type":"ui_group","z":"","name":"RGB Values","tab":"b84bac59.741c4","disp":true,"width":"6","collapse":true},{"id":"b84bac59.741c4","type":"ui_tab","z":"","name":"Colour Wheel","icon":"dashboard","disabled":false,"hidden":false}]