hybrid/hybrid-1/flow-temperature.json.txt
[{"id":"631e99bd.a03878","type":"arduino in","z":"616975a.fec718c","name":"Thermsistor (A0)","pin":"0","state":"ANALOG","arduino":"1ec1ee16.6a7262","x":130,"y":200,"wires":[["300955c4.792b2a"]]},{"id":"300955c4.792b2a","type":"function","z":"616975a.fec718c","name":"Convert Pin A1 to Celsius","func":"code = msg.payload;\nif (code <= 289) {\n    celsius = 5 + (code - 289) / 9.82;\n  }\n  if (code > 289 && code <= 342) {\n    celsius = 10 + (code - 342) / 10.60;\n  }\n  if (code > 342 && code <= 398) {\n    celsius = 15 + (code - 398) / 11.12;\n  }\n  if (code > 398 && code <= 455) {\n    celsius = 20 + (code - 455) / 11.36;\n  }\n  if (code > 455 && code <= 512) {\n    celsius = 25 + (code - 512) / 11.32;\n  }\n  if (code > 512 && code <= 566) {\n    celsius = 30 + (code - 566) / 11.00;\n  }\n  if (code > 566 && code <= 619) {\n    celsius = 35 + (code - 619) / 10.44;\n  }\n  if (code > 619 && code <= 667) {\n    celsius = 40 + (code - 667) / 9.73;\n  }\n  if (code > 667) {\n    celsius = 45 + (code - 712) / 8.90;\n  }\nmsg.payload = celsius;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["751006d.c8418f8","77d6b287.a2970c"]]},{"id":"751006d.c8418f8","type":"template","z":"616975a.fec718c","name":"Temperature (C)","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Celsius: {{payload}}C !","output":"str","x":620,"y":220,"wires":[["3a8c1ba1.a19ec4"]]},{"id":"77d6b287.a2970c","type":"function","z":"616975a.fec718c","name":"Convert Celsius to Farenheit","func":"fahrenheit = msg.payload * 1.8 + 32;\nmsg.payload = fahrenheit;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":320,"wires":[["3b7e6bc8.d475f4"]]},{"id":"3b7e6bc8.d475f4","type":"template","z":"616975a.fec718c","name":"Temperature (F)","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Farenheit: {{payload}}F !","output":"str","x":800,"y":320,"wires":[["3a8c1ba1.a19ec4"]]},{"id":"3a8c1ba1.a19ec4","type":"debug","z":"616975a.fec718c","name":"Display: Temperature (C | F)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":220,"wires":[]},{"id":"e8bb2da4.b4c0b","type":"comment","z":"616975a.fec718c","name":"Temperature Flow by Lucas Estienne (esti0011@algonquinlive.com)","info":"","x":280,"y":40,"wires":[]},{"id":"110b79c6.2cc7b6","type":"comment","z":"616975a.fec718c","name":"Pre-Req: Teensy is running Standard Firmata Plus","info":"","x":230,"y":100,"wires":[]},{"id":"1a8eee25.6d1482","type":"comment","z":"616975a.fec718c","name":"Temperature Circuit: https://www.pjrc.com/teensy/tutorial4.html","info":"","x":260,"y":160,"wires":[]},{"id":"1ec1ee16.6a7262","type":"arduino-board","z":"","device":"COM3"}]