labs/lab-11/flow-toggle-led-mqtt.json.txt
[{"id":"ad167545.8de3c8","type":"mqtt in","z":"1584daa1.9bb7b5","name":"From MQTT Server (Cayenne): Channel 1","topic":"v1/64e68a00-153d-11ea-ba7c-716e7f5ba423/things/d7bd57c0-153d-11ea-b73d-1be39589c6b2/cmd/1","qos":"1","datatype":"auto","broker":"2873a780.45c148","x":200,"y":260,"wires":[["ef7013a7.c574b"]]},{"id":"ef7013a7.c574b","type":"split","z":"1584daa1.9bb7b5","name":"split using: .","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":260,"wires":[["5a540018.534db"]]},{"id":"5a540018.534db","type":"switch","z":"1584daa1.9bb7b5","name":"if input is 0 v 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":260,"wires":[["587babd3.bf28d4","ab8aeccd.e3338","94a73cf5.65f2a","246888a8.c91598"],["587babd3.bf28d4","ab8aeccd.e3338","94a73cf5.65f2a","246888a8.c91598"]]},{"id":"ab8aeccd.e3338","type":"mqtt out","z":"1584daa1.9bb7b5","name":"To MQTT Server (Cayenne): Channel 1","topic":"v1/64e68a00-153d-11ea-ba7c-716e7f5ba423/things/d7bd57c0-153d-11ea-b73d-1be39589c6b2/data/1","qos":"1","retain":"","broker":"2873a780.45c148","x":970,"y":380,"wires":[]},{"id":"587babd3.bf28d4","type":"arduino out","z":"1584daa1.9bb7b5","name":"Tricolor LED Green (3)","pin":"3","state":"OUTPUT","arduino":"1ec1ee16.6a7262","x":960,"y":200,"wires":[]},{"id":"2e7230f1.1c2be","type":"comment","z":"1584daa1.9bb7b5","name":"Toggle Tricolor (MQTT) by Lucas Estienne (esti0011@algonquinlive.com)","info":"","x":320,"y":80,"wires":[]},{"id":"b5327a1a.8efe58","type":"comment","z":"1584daa1.9bb7b5","name":"Pre-Req: Teensy is running Standard Firmata Plus","info":"","x":250,"y":140,"wires":[]},{"id":"4e621be1.34e0b4","type":"comment","z":"1584daa1.9bb7b5","name":"Toggle LED Using MQTT Server (Cayenne)","info":"","x":220,"y":200,"wires":[]},{"id":"94a73cf5.65f2a","type":"arduino out","z":"1584daa1.9bb7b5","name":"Tricolor LED Blue (4)","pin":"4","state":"OUTPUT","arduino":"1ec1ee16.6a7262","x":960,"y":260,"wires":[]},{"id":"246888a8.c91598","type":"arduino out","z":"1584daa1.9bb7b5","name":"Tricolor LED Red (5)","pin":"5","state":"OUTPUT","arduino":"1ec1ee16.6a7262","x":960,"y":320,"wires":[]},{"id":"2873a780.45c148","type":"mqtt-broker","z":"","name":"mqtt.mydevices.com","broker":"mqtt.mydevices.com","port":"1883","clientid":"d7bd57c0-153d-11ea-b73d-1be39589c6b2","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1ec1ee16.6a7262","type":"arduino-board","z":"","device":"COM3"}]