labs/lab-9/flow-temperature-dashboard.json.txt
[{"id":"783bc3e5.e722bc","type":"arduino in","z":"e08a9403.acf768","name":"Thermsistor (A0)","pin":"0","state":"ANALOG","arduino":"1ec1ee16.6a7262","x":100,"y":400,"wires":[["dc574344.33ac6"]]},{"id":"de73de5d.6e714","type":"function","z":"e08a9403.acf768","name":"Convert Pin A0 to Celsius","func":"code = msg.payload;\nif (code <= 289) {\n    celsius = 5 + (code - 289) / 9.82;\n  }\n  if (code > 289 && code <= 342) {\n    celsius = 10 + (code - 342) / 10.60;\n  }\n  if (code > 342 && code <= 398) {\n    celsius = 15 + (code - 398) / 11.12;\n  }\n  if (code > 398 && code <= 455) {\n    celsius = 20 + (code - 455) / 11.36;\n  }\n  if (code > 455 && code <= 512) {\n    celsius = 25 + (code - 512) / 11.32;\n  }\n  if (code > 512 && code <= 566) {\n    celsius = 30 + (code - 566) / 11.00;\n  }\n  if (code > 566 && code <= 619) {\n    celsius = 35 + (code - 619) / 10.44;\n  }\n  if (code > 619 && code <= 667) {\n    celsius = 40 + (code - 667) / 9.73;\n  }\n  if (code > 667) {\n    celsius = 45 + (code - 712) / 8.90;\n  }\nmsg.payload = celsius.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["88a4825e.50f56","3b179017.e2968","9aee86c3.309ee8","de75ebe2.fc0028"]]},{"id":"88a4825e.50f56","type":"template","z":"e08a9403.acf768","name":"Temperature (C)","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Celsius: {{payload}}C !","output":"str","x":610,"y":280,"wires":[["c5ddcb26.4f9b08"]]},{"id":"c5ddcb26.4f9b08","type":"debug","z":"e08a9403.acf768","name":"Display: Temperature (C)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":280,"wires":[]},{"id":"89229b89.2ec658","type":"comment","z":"e08a9403.acf768","name":"Temperature Flow by Lucas Estienne (esti0011@algonquinlive.com)","info":"","x":270,"y":100,"wires":[]},{"id":"ef21d147.ce2d9","type":"comment","z":"e08a9403.acf768","name":"Pre-Req: Teensy is running Standard Firmata Plus","info":"","x":220,"y":160,"wires":[]},{"id":"c2296d48.92","type":"comment","z":"e08a9403.acf768","name":"Temperature Circuit: https://www.pjrc.com/teensy/tutorial4.html","info":"","x":250,"y":220,"wires":[]},{"id":"dc574344.33ac6","type":"delay","z":"e08a9403.acf768","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":240,"y":340,"wires":[["de73de5d.6e714"]]},{"id":"95a2c283.b5e36","type":"comment","z":"e08a9403.acf768","name":"To see dashboard, URL base /ui","info":"","x":710,"y":340,"wires":[]},{"id":"3b179017.e2968","type":"ui_gauge","z":"e08a9403.acf768","name":"Gauge: Temperature","group":"27cf3bac.4d7184","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}° C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":400,"wires":[]},{"id":"9aee86c3.309ee8","type":"ui_chart","z":"e08a9403.acf768","name":"Graph: Temperature","group":"e448d9c3.86dc28","order":0,"width":0,"height":0,"label":"Temperature (°C)","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"Error - No Temperature!","dot":true,"ymin":"15","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":440,"wires":[[]]},{"id":"de75ebe2.fc0028","type":"ui_text","z":"e08a9403.acf768","group":"1b565234.9b5cae","order":0,"width":0,"height":0,"name":"@author","label":"@author","format":"Lucas Estienne (esti0011@algonquinlive.com)","layout":"row-spread","x":660,"y":520,"wires":[]},{"id":"1ec1ee16.6a7262","type":"arduino-board","z":"","device":"COM3"},{"id":"27cf3bac.4d7184","type":"ui_group","z":"","name":"Gauge","tab":"8f2e54e2.9b1598","disp":true,"width":"6","collapse":false},{"id":"e448d9c3.86dc28","type":"ui_group","z":"","name":"Graph","tab":"8f2e54e2.9b1598","disp":true,"width":"6","collapse":false},{"id":"1b565234.9b5cae","type":"ui_group","z":"","name":"Author","tab":"de5f5307.feb88","disp":true,"width":"6","collapse":false},{"id":"8f2e54e2.9b1598","type":"ui_tab","z":"","name":"Temperature","icon":"fa-thermometer-half","disabled":false,"hidden":false},{"id":"de5f5307.feb88","type":"ui_tab","z":"","name":"About","icon":"fa-info-circle","disabled":false,"hidden":false}]