labs/lab-8/flow-toggle-led.json.txt
[{"id":"e41ca79c.8c1d38","type":"arduino in","z":"b749918a.79192","name":"Button (Pin 1)","pin":"1","state":"INPUT","arduino":"1ec1ee16.6a7262","x":110,"y":340,"wires":[["7004cff3.89ee8"]]},{"id":"8a642779.3c7b58","type":"inject","z":"b749918a.79192","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[["fb93fca3.631f7"]]},{"id":"4a044fe9.4b7d1","type":"inject","z":"b749918a.79192","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":220,"wires":[["fb93fca3.631f7"]]},{"id":"de939551.a6b4a8","type":"arduino out","z":"b749918a.79192","name":"LED (Pin 15)","pin":"15","state":"OUTPUT","arduino":"1ec1ee16.6a7262","x":760,"y":340,"wires":[]},{"id":"fb93fca3.631f7","type":"arduino out","z":"b749918a.79192","name":"On/Off Onboard LED","pin":"13","state":"OUTPUT","arduino":"1ec1ee16.6a7262","x":310,"y":200,"wires":[]},{"id":"d12037d9.0d4158","type":"switch","z":"b749918a.79192","name":"if input 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":420,"wires":[["798b3b86.5e0204"]]},{"id":"798b3b86.5e0204","type":"function","z":"b749918a.79192","name":"toggle","func":"context.setON = !context.setON;\nmsg.payload = context.setON;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":360,"wires":[["de939551.a6b4a8","c0e240d9.ec225"]]},{"id":"7004cff3.89ee8","type":"debounce","z":"b749918a.79192","time":"50","name":"debounce 50ms","x":320,"y":380,"wires":[["d12037d9.0d4158"]]},{"id":"72b1f6c1.aed208","type":"comment","z":"b749918a.79192","name":"Toggle LED Using Pushbutton","info":"","x":160,"y":280,"wires":[]},{"id":"a7b22d50.49153","type":"comment","z":"b749918a.79192","name":"Toggle LED using Inject Nodes","info":"","x":170,"y":100,"wires":[]},{"id":"3a97e87b.b12a58","type":"comment","z":"b749918a.79192","name":"Toggle LED by Lucas Estienne esti0011@algonquinlive.com","info":"","x":260,"y":40,"wires":[]},{"id":"c0e240d9.ec225","type":"debug","z":"b749918a.79192","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":460,"wires":[]},{"id":"1ec1ee16.6a7262","type":"arduino-board","z":"","device":"COM3"}]